@font-face {
    font-family: 'Lora';
    src: url(assets/Lora/Lora-VariableFont_wght.ttf);
    font-weight: 100 1000;
  }

body {
    font-family: Lora;
    display: flex;
    margin: 0px;
    height: 100vh;
    width: 100%;
}
.side {
    position: relative;
    flex: 30%;
    background-image: url(assets/background.jpg);
    background-size: cover;
}

.side > .footer {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 10px;
    color: white;
    font-size: 10pt;
    
}

.side > .footer > a {
    color: white;
}

.logo {
    display: flex;
    background-color: rgba(135, 206, 235, 0.4);
    position: absolute;
    height: 20vh;
    width: 100%;
    top: 15vh;
    justify-content: center;
    align-items: center;
}

.logo-content {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 30pt;
    opacity: 100%;
}

.main {
    flex: 60%;
    background-color: whitesmoke;
}

.main-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 15rem;
    padding: 3rem;
    font-weight: bold;
}


.sign-up {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 3rem;
    box-shadow: 4px 4px 4px 4px gray;
    gap: 1rem;
}

label {
    font-size: 10pt;
    color: darkgray;
}

label.error {
    color: red;
    width: 100%;
    word-wrap: break-word;
    visibility: hidden;
}

.form-input{
    flex: 1;
    display: flex;
    gap: 1rem;
}

.input-item {
    display: flex;
    flex-direction: column;
}

.item-group {
    display: flex;
    flex-direction: column;
    width: 15rem;
    gap: 10px;
}

.main-footer {
    padding: 3rem;
    padding-top: 1rem;
}

button {
    font-family: Lora;
    font-size: large;
    border: solid,  rgb(42, 64, 73);
    background-color: rgba(135, 206, 235, 1);
    padding: 0.5rem 2rem;
    border-radius: 5px;
}

input {
    border: 2px solid lightblue;
  
  padding: 5px;
  border-radius: 5px;
}


input:invalid:not(:focus):not(:placeholder-shown) {
    border-color: red;
  }

  input:invalid:not(:focus):not(:placeholder-shown) + label {
    visibility: visible;
  }

/* Only show valid ring while not focused and if a value is entered */
/* :empty won't work here as that targets elements that have no childeren. Therefore we abuse :placeholder-shown */
input:not(:focus):not(:placeholder-shown):valid {
border-color: green;
}


